@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Raleway', sans-serif;
}
#sign-in:hover .icon{
  transition: all 0.5s ease-in;
  rotate: 360deg;
}
#card:hover .desc{
  display: block;
}
/* I have used almost every style with tailwind css */

